
//Animal adoption Page
@import "animal";


//Color and Font
$primary-color  : #6504b5;
$secondary-color:#EFEEF1;
$thired-color   :#4D4751;
$main-font      :'Montserrat',
sans-serif;
$jura-font:"Jura",
sans-serif;

///////////////////////////////////////////////////////////////////////////////

