#login {
  font-family: "Jura", sans-serif;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color:#f0f0f0;
}
#login input {
  margin: 20px auto;
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  border: 1px solid #6504b5;
}
#login input:focus {
  border: 1px solid #6504b5;
  outline-color: #6504b5;
}
#login .log-inner {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 28px rgba(255, 255, 255, 0.329);
}
#login a, #login h1 {
  color: black;
}
#login p {
  color: #6504b5;
}
#login button {
  border: 3px solid #6504b5;
  background-color: #6504b5;
  font-weight: 600;
  color: white;
  border-radius: 20px;
  transition: all 0.5s;
}
#login button:hover {
  background-color: transparent;
  color: #6504b5;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
#login h1 {
  position: relative;
}
#login h1::before {
  content: "";
  height: 3px;
  position: absolute;
  width: 100px;
  bottom: 0;
  background-color: #6504b5;
  border-radius: 2px;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
}

header #top {
  background-color: #EFEEF1;
  border-bottom: 1px solid gainsboro;
}
header #top .purina .purina-logo img {
  width: 70px;
}
header #top .purina span {
  font-size: 8px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
}
header #top a {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
header #top a span {
  color: #6504b5;
  text-decoration: underline;
}
header nav .top-nav {
  background-color: #EFEEF1;
}
header nav .top-nav a {
  color: #4D4751;
}
header nav .top-nav .petfinder-logo img {
  width: 130px;
}
header nav .top-nav .main-navigation li {
  list-style: none;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 5px 40px 5px 0px;
}
header nav .top-nav .main-navigation li a {
  color: #4D4751;
}
header nav .top-nav .main-navigation li a:checked {
  color: red;
}
header nav .top-nav .main-navigation li span {
  padding: 0 8px;
}
header nav .top-nav .profile-navigation {
  float: right;
}
header nav .top-nav .profile-navigation span {
  color: #4D4751;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  padding: 0 0 0 25px;
}
header nav .top-nav .profile-navigation .icon {
  font-size: 25px;
  border-right: 1px solid rgb(216, 216, 216);
  padding: 15px;
}
header nav .buttom-nav {
  color: white;
  background-color: #6504b5;
  position: absolute;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  z-index: 1;
}
header nav .buttom-nav .breed-menu li {
  border-right: 1px solid black;
  padding: 0 40px;
}
header nav .buttom-nav .breed-menu,
header nav .buttom-nav .resource-menu {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 15px;
  max-width: 100%;
}
header nav .buttom-nav .breed-menu a,
header nav .buttom-nav .resource-menu a {
  color: white;
}
header nav .buttom-nav .breed-menu li,
header nav .buttom-nav .resource-menu li {
  list-style: none;
  white-space: nowrap;
  position: relative;
}
header nav .buttom-nav .breed-menu li:last-child,
header nav .buttom-nav .resource-menu li:last-child {
  border: none;
}
header nav .buttom-nav .breed-menu li:hover,
header nav .buttom-nav .resource-menu li:hover {
  text-shadow: 2px 8px 8px white;
}
header nav .buttom-nav .breed-menu li ul,
header nav .buttom-nav .resource-menu li ul {
  max-height: 0;
  max-width: 300px;
  overflow: hidden;
  background-color: #3a0466;
  position: absolute;
  top: 38px;
  left: -30px;
  padding: 0;
  text-align: left;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: all 1s;
  white-space: wrap;
  text-transform: none;
}
header nav .buttom-nav .breed-menu li ul li,
header nav .buttom-nav .resource-menu li ul li {
  padding: 10px 10px;
  color: rgb(219, 217, 217);
}
header nav .buttom-nav .breed-menu li ul li:hover,
header nav .buttom-nav .resource-menu li ul li:hover {
  text-decoration: underline;
  color: white;
}
header nav .buttom-nav .breed-menu li:hover ul,
header nav .buttom-nav .resource-menu li:hover ul {
  max-height: 500px;
}

main {
  font-family: "Montserrat", sans-serif;
}
main #hero {
  background-color: rgb(230, 230, 230);
}
main #hero .hero-img img {
  width: 100%;
  object-fit: cover;
  filter: brightness(70%);
  border-bottom: 8px solid #6504b5;
}
@media (max-height: 550px) {
  main #hero .hero-img img {
    height: 80vh;
  }
}
@media (min-height: 550px) {
  main #hero .hero-img img {
    height: 60vh;
  }
}
main #hero .hero-inner {
  background-color: rgb(230, 230, 230);
  position: relative;
}
main #hero .hero-inner .hero-body .search-box {
  background-color: white;
  width: 55vw;
  border-radius: 3px;
  position: absolute;
  top: 15vh;
  left: 50%;
  transform: translate(-50%, -50%);
}
main #hero .hero-inner .hero-body .search-box span {
  font-size: 30px;
  color: #4D4751;
}
main #hero .hero-inner .hero-body .search-box input {
  width: 45%;
  border: none;
  height: 60px;
  padding: 15px;
  font-weight: 600;
  border-radius: 3px;
}
main #hero .hero-inner .hero-body .search-box input:focus {
  border: 1px solid #6504b5;
  border-bottom: 3px solid #6504b5;
  border-radius: 5px;
  outline: none;
}
main #hero .hero-inner .hero-body .search-box button {
  border: none;
  color: white;
  background-color: #6504b5;
  margin: 5px;
  padding: 10px 15px;
  border-radius: 5px;
}
main #hero .hero-inner .hero-body .title {
  color: white;
  text-shadow: 0px 0px 3px white;
  width: 100%;
  position: absolute;
  top: 25vh;
  left: 50%;
  transform: translate(-50%, -50%);
}
main #hero .hero-inner .hero-body .hero-cards {
  position: relative;
  bottom: 10vh;
}
main #hero .hero-inner .hero-body .hero-card {
  background-color: white;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  transition: all 1s;
  color: #4D4751;
}
main #hero .hero-inner .hero-body .hero-card img {
  max-width: 100%;
  width: auto;
  height: auto;
  border: transparent;
}
main #hero .hero-inner .hero-body .hero-card:hover {
  border: 1px solid #6504b5;
  background-color: rgb(228, 222, 222);
}
main #animal {
  background-color: rgb(230, 230, 230);
}
main #animal .advert-box {
  width: 100%;
}
main #animal .advert-box img {
  max-width: 100%;
  object-fit: cover;
}
main #animal .animal-title a {
  color: #6504b5;
  font-weight: 600;
}
main #animal .animal-box {
  color: #6504b5;
  font-weight: 600;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  transition: all 1s;
}
main #animal .animal-box img {
  transition: all 1s;
}
main #animal .animal-box .pet-img {
  width: 100%;
  overflow: hidden;
}
main #animal .animal-box p {
  background-color: white;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: relative;
  bottom: 25px;
  transition: all 1s;
}
main #animal .animal-box:hover {
  background-color: #6504b5;
}
main #animal .animal-box:hover p {
  background-color: #6504b5;
  color: white;
}
main #animal .animal-box:hover img {
  opacity: 0.5;
}
main #animal .more-box {
  background-color: #6504b5;
  border-radius: 10px;
  color: white;
  border: 1px solid #6504b5;
  overflow: hidden;
}
main #animal .more-box p:last-child {
  border-top: 1px solid black;
  transition: all 1s;
}
main #animal .more-box:hover p:last-child {
  background-color: #EFEEF1;
  color: #6504b5;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
}
main #animal .article-card {
  background-color: white;
  color: #4D4751;
  border-radius: 20px;
  overflow: hidden;
}
main #animal .article-card .big-img {
  position: relative;
}
main #animal .article-card .big-img::before {
  content: " ";
  height: 50px;
  color: white;
  background-color: white;
  width: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top-left-radius: 0%;
  border-top-right-radius: 100%;
  transition: all 1s;
}
main #animal .article-card .big-img::after {
  content: " ";
  height: 50px;
  color: white;
  background-color: white;
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  border-top-left-radius: 100%;
  border-top-right-radius: 0%;
  transition: all 1s;
}
main #animal .article-card .big-img img {
  width: 100%;
  height: 20%;
  object-fit: cover;
}
main #animal .article-card .little-img {
  position: absolute;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%);
  bottom: -25px;
  border: 6px solid white;
  border-radius: 50%;
  z-index: 1;
  transition: all 1s;
}
main #animal .article-card .little-img img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  object-position: center;
  overflow: hidden;
}
main #animal .article-card .article-text p:last-child {
  border-top: 1px solid #4D4751;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 1s;
}
main #animal .article-card:hover .big-img::before {
  content: " ";
  height: 50px;
  color: white;
  background-color: white;
  width: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top-left-radius: 100%;
  border-top-right-radius: 0;
}
main #animal .article-card:hover .big-img::after {
  content: " ";
  height: 50px;
  color: white;
  background-color: white;
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 100%;
}
main #animal .article-card:hover .big-img .little-img {
  bottom: 0;
}
main #animal .article-card:hover p:last-child {
  background-color: #6504b5;
  color: white;
}
main #plan h2 {
  color: #4D4751;
}
main #plan .plan-card h4,
main #plan .plan-card a {
  color: rgb(13, 13, 82);
}
main #plan .plan-card span {
  border: 2px solid rgb(61, 198, 223);
  border-radius: 20px;
  font-weight: 600;
  transition: all 0.5s;
}
main #plan .plan-card span:hover {
  color: white;
  background-color: rgb(61, 198, 223);
}

footer #footer-top {
  background-color: #6504b5;
  color: white;
}
footer #footer-top .footer-inner li {
  list-style: none;
  transition: all 0.2s;
  color: rgb(231, 211, 247);
  padding: 5px 0;
}
footer #footer-top .footer-inner li:hover {
  list-style: circle;
  font-size: 20px;
  color: white;
}
footer #footer-top .sign a {
  color: white;
}
footer #footer-top .sign span {
  border: 2px solid white;
  border-radius: 50px;
  transition: all 0.5s;
  font-weight: 500;
}
footer #footer-top .sign span:hover {
  background-color: white;
  color: #6504b5;
}
footer #footer-bottom {
  background-color: #3a0466;
  color: white;
}
footer #footer-bottom p {
  font-size: 12px;
}
footer #footer-bottom .social-media a {
  color: rgb(243, 166, 253);
  padding: 0 10px;
  font-size: 20px;
  transition: all 0.3s;
}
footer #footer-bottom .social-media a:hover {
  color: white;
  text-shadow: 2px 2px 28px white;
}
#signup {
  height: auto;
  background-color: #f0f0f0;
  background-position: center;
  background-size: cover;
  font-family: "Jura", sans-serif;
}
#signup input,
#signup select {
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  border: 1px solid #6504b5;
}
#signup input:focus,
#signup select:focus {
  border: 1px solid #6504b5;
  outline-color: #6504b5;
}
#signup button {
  border: 3px solid #6504b5;
  background-color: #6504b5;
  font-weight: 600;
  color: white;
  border-radius: 20px;
  transition: all 0.5s;
}
#signup button:hover {
  background-color: transparent;
  color: #6504b5;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
#signup .sign-inner {
  background-color: white;
  border-radius: 20px;
  box-shadow: darkgrey;
}
#signup p {
  color: #c60bcc;
  font-weight: 700;
}
#signup h1 {
  position: relative;
}
#signup i {
  color: #6504b5;
  font-size: 25px;
}
#signup h1::before {
  content: "";
  height: 3px;
  position: absolute;
  width: 100px;
  bottom: 0;
  background-color: #6504b5;
  border-radius: 2px;
  left: 50%;
  transform: translate(-50%, -50%);
}
#signup select option {
  color: #c71eb9;
  font-weight: 600;
}

#reset-password {
  background-image: linear-gradient(rgba(156, 23, 182, 0.26), rgba(0, 0, 0, 0.5)), url("../img/reset-password-bg.jpg");
  background-position: center;
  background-size: cover;
  height: auto;
  font-family: "Jura", sans-serif;
}
#reset-password .res-pas-inner {
  background-color: rgba(255, 255, 255, 0.527);
  border-radius: 10px;
  box-shadow: 0px 0px 28px rgba(255, 255, 255, 0.404);
}
#reset-password .res-pas-inner input {
  margin: 20px auto;
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  border: none;
}
#reset-password .res-pas-inner input:focus {
  border: 1px solid #6504b5;
  outline-color: #6504b5;
}
#reset-password .res-pas-inner button {
  border: 3px solid #6504b5;
  background-color: #6504b5;
  font-weight: 600;
  color: white;
  border-radius: 20px;
  transition: all 0.5s;
}
#reset-password .res-pas-inner button:hover {
  background-color: transparent;
  color: #6504b5;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
#reset-password .res-pas-inner h1 {
  position: relative;
}
#reset-password .res-pas-inner h1::before {
  content: "";
  height: 3px;
  position: absolute;
  width: 100px;
  bottom: -10px;
  background-color: #6504b5;
  border-radius: 2px;
  left: 0;
}
#reset-password .res-pas-inner p {
  font-weight: 600;
}

#send-gmail {
  background-image: linear-gradient(rgba(156, 23, 182, 0.26), rgba(0, 0, 0, 0.5)), url("../img/reset-password-bg.jpg");
  background-position: center;
  background-size: cover;
  height: auto;
  font-family: "Jura", sans-serif;
}
#send-gmail .send-gmail-inner {
  background-color: rgba(255, 255, 255, 0.527);
  border-radius: 10px;
  box-shadow: 0px 0px 28px rgba(255, 255, 255, 0.404);
}
#send-gmail .send-gmail-inner input {
  margin: 20px auto;
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  border: 1px solid transparent;
}
#send-gmail .send-gmail-inner input:focus {
  border: 1px solid #6504b5;
  outline-color: #6504b5;
}
#send-gmail .send-gmail-inner button {
  border: 3px solid #6504b5;
  background-color: #6504b5;
  font-weight: 600;
  color: white;
  border-radius: 20px;
  transition: all 0.5s;
}
#send-gmail .send-gmail-inner button:hover {
  background-color: transparent;
  color: #6504b5;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
#send-gmail .send-gmail-inner h1 {
  position: relative;
}
#send-gmail .send-gmail-inner h1::before {
  content: "";
  height: 3px;
  position: absolute;
  width: 100px;
  bottom: -10px;
  background-color: #6504b5;
  border-radius: 2px;
  left: 0;
}
#send-gmail .send-gmail-inner p {
  font-weight: 600;
}

#find-animal {
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Jura", sans-serif;
  height: auto;
}
#find-animal button {
  border: 3px solid #6504b5;
  background-color: #6504b5;
  font-weight: 600;
  color: white;
  border-radius: 20px;
  transition: all 0.5s;
}
#find-animal button:hover {
  background-color: transparent;
  color: #6504b5;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
#find-animal .search-box,
#find-animal .sort {
  background-color: rgba(101, 4, 181, 0.2588235294);
  border-radius: 10px;
  box-shadow: 0px 0px 28px rgba(80, 78, 78, 0.404);
  overflow: hidden;
}
#find-animal .search-box p,
#find-animal .sort p {
  background-color: #6504b5;
}
#find-animal .search-box label,
#find-animal .sort label {
  font-size: 18px;
  color: white;
}
#find-animal .search-box input,
#find-animal .search-box select,
#find-animal .sort input,
#find-animal .sort select {
  border-radius: 10px;
  border: 1px solid transparent;
  border-bottom: 3px solid rgb(136, 136, 231);
}
#find-animal .search-box input:focus,
#find-animal .search-box select:focus,
#find-animal .sort input:focus,
#find-animal .sort select:focus {
  border: 1px solid #6504b5;
  border-bottom: 3px solid #6504b5;
  outline-color: #6504b5;
  color: black;
}
#find-animal .search-box input:checked,
#find-animal .search-box select:checked,
#find-animal .sort input:checked,
#find-animal .sort select:checked {
  background-color: #6504b5;
}
#find-animal .search-box input,
#find-animal .sort input {
  width: 30px;
  height: 30px;
}
#find-animal .search-box select,
#find-animal .sort select {
  width: 80%;
}
#find-animal .animal {
  box-shadow: 0px 0px 28px rgba(122, 119, 119, 0.404);
  background-color: rgba(101, 4, 181, 0.07);
  border-radius: 10px;
}
#find-animal .animal a {
  color: #6504b5;
}
#find-animal .animal .animal-box {
  color: #6504b5;
  font-weight: 600;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  transition: all 1s;
  position: relative;
}
#find-animal .animal .animal-box img {
  transition: all 1s;
  object-fit: cover;
  max-height: 100%;
}
#find-animal .animal .animal-box .pet-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
#find-animal .animal .animal-box p {
  background-color: white;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: relative;
  bottom: 25px;
  transition: all 1s;
}
#find-animal .animal .animal-box:hover {
  background-color: #6504b5;
}
#find-animal .animal .animal-box:hover p {
  background-color: #6504b5;
  color: white;
  color: white;
}
#find-animal .animal .animal-box:hover img {
  opacity: 0.5;
}
#find-animal .animal .animal-box span {
  width: 45px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  border-radius: 50px;
}

#animal-detail {
  font-family: "Jura", sans-serif;
  }
#animal-detail .carousel-item {
  height: 50vh;
  background-color: black;
}
#animal-detail .carousel-item img {
  height: 100%;
  object-fit: contain;
  display: inline;
  margin: auto;
}

#animal-detail .animal-detail-inner h1,
#animal-detail .animal-detail-inner h2 {
  position: relative;
  display: inline;
}
#animal-detail .animal-detail-inner h1::before,
#animal-detail .animal-detail-inner h2::before {
  content: "";
  height: 3px;
  position: absolute;
  width: 100%;
  bottom: -5px;
  background-color: #d4851e;
  border-radius: 2px;
}
#animal-detail .like-box {
  background-color: rgba(106, 6, 238, 0.4117647059);
  color: #6504b5;
  border-radius: 20px;
  box-shadow: 0px 0px 28px grey;
}
#animal-detail .like-box span {
  font-size: 50px;
}
#animal-detail .shelter-box {
  background-color: white;
  position: relative;
  color: black;
  border-radius: 20px;
  box-shadow: 0px 0px 28px grey;
  margin: 70px 0;
  font-weight: 500;
  font-size: 20px;
  width: 415px;
}
#animal-detail .shelter-box .img {
  position: absolute;
  border: 4px solid white;
  background-color: #6504b5;
  border-radius: 50px;
  box-shadow: 0 0 28px grey;
  left: 50%;
  top: 0px;
  transform: translate(-50%, -50%);
}
#animal-detail .shelter-box span {
  color: #6504b5;
  font-size: 25px;
}

#related-animal {
  font-family: "Jura", sans-serif;
}
#related-animal .related-animal-inner {
  box-shadow: 0px 0px 28px rgba(122, 119, 119, 0.404);
  background-color: rgba(101, 4, 181, 0.2588235294);
  border-radius: 10px;
}
#related-animal .related-animal-inner a {
  color: #6504b5;
}
#related-animal .related-animal-inner .animal-box {
  color: #6504b5;
  font-weight: 600;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  transition: all 1s;
  position: relative;
}
#related-animal .related-animal-inner .animal-box img {
  transition: all 1s;
  width: 100%;
  object-fit: cover;
}
#related-animal .related-animal-inner .animal-box .pet-img {
  width: 100%;
  overflow: hidden;
}
#related-animal .related-animal-inner .animal-box p {
  background-color: white;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: relative;
  bottom: 25px;
  transition: all 1s;
}
#related-animal .related-animal-inner .animal-box:hover {
  background-color: #6504b5;
}
#related-animal .related-animal-inner .animal-box:hover p {
  background-color: #6504b5;
  color: white;
  color: white;
}
#related-animal .related-animal-inner .animal-box:hover img {
  opacity: 0.5;
}
#related-animal .related-animal-inner .animal-box span {
  width: 45px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  border-radius: 50px;
}

#releted-article-shelter {
  font-family: "Jura", sans-serif;
  background-color: rgb(241, 236, 236);
}
#releted-article-shelter h1 {
  color: #6504b5;
}
#releted-article-shelter .article-card {
  background-color: white;
  color: #4D4751;
  border-radius: 20px;
  overflow: hidden;
}
#releted-article-shelter .article-card .big-img {
  position: relative;
}
#releted-article-shelter .article-card .big-img::before {
  content: " ";
  height: 50px;
  color: white;
  background-color: white;
  width: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top-left-radius: 0%;
  border-top-right-radius: 100%;
  transition: all 1s;
}
#releted-article-shelter .article-card .big-img::after {
  content: " ";
  height: 50px;
  color: white;
  background-color: white;
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  border-top-left-radius: 100%;
  border-top-right-radius: 0%;
  transition: all 1s;
}
#releted-article-shelter .article-card .big-img img {
  width: 100%;
  height: 20%;
  object-fit: cover;
}
#releted-article-shelter .article-card .little-img {
  position: absolute;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%);
  bottom: -25px;
  border: 6px solid white;
  border-radius: 50%;
  z-index: 1;
  transition: all 1s;
}
#releted-article-shelter .article-card .little-img img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  object-position: center;
  overflow: hidden;
}
#releted-article-shelter .article-card .article-text p:last-child {
  border-top: 1px solid #4D4751;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 1s;
}
#releted-article-shelter .article-card:hover .big-img::before {
  content: " ";
  height: 50px;
  color: white;
  background-color: white;
  width: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top-left-radius: 100%;
  border-top-right-radius: 0;
}
#releted-article-shelter .article-card:hover .big-img::after {
  content: " ";
  height: 50px;
  color: white;
  background-color: white;
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 100%;
}
#releted-article-shelter .article-card:hover .big-img .little-img {
  bottom: 0;
}
#releted-article-shelter .article-card:hover p:last-child {
  background-color: #6504b5;
  color: white;
}

#blog {
  background-color: rgba(218, 186, 240, 0.212);
}
#blog .blog-inner {
  background-color: rgba(255, 255, 255, 0.274);
  box-shadow: 0 0 28px grey;
  border-radius: 20px;
}
#blog .blog-inner .blog-box {
  border-bottom: 1px solid gray;
}
#blog .blog-inner .blog-box .img {
  border-radius: 10px;
  overflow: hidden;
}
#blog .blog-inner .blog-box .img img {
  max-width: 100%;
}
#blog .blog-inner .blog-box a {
  color: #6504b5;
}
#blog .blog-inner .blog-box .icon {
  padding: 5px 8px;
  margin: 0 10px;
  color: #6504b5;
  border: 2px solid #6504b5;
  border-radius: 50px;
  transition: all 0.5s;
}
#blog .blog-inner .blog-box .icon:hover {
  box-shadow: 0px 0px 28px #6504b5;
}
#blog .blog-inner .blog-box .read {
  position: relative;
}
#blog .blog-inner .blog-box .read::before {
  position: absolute;
  bottom: 0;
  content: " ";
  width: 0;
  height: 2px;
  background-color: peru;
  transition: all 0.5s;
}
#blog .blog-inner .blog-box .read:hover::before {
  width: 100%;
}
#blog .blog-inner .blog-box .date {
  color: #6504b5;
}
#blog button {
  border: 3px solid #6504b5;
  background-color: #6504b5;
  font-weight: 600;
  color: white;
  border-radius: 20px;
  transition: all 0.5s;
}
#blog button:hover {
  background-color: transparent;
  color: #6504b5;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

#blog-detail {
  font-family: "Jura", sans-serif;
}
#blog-detail .blog-detail-innerr .box-top, #blog-detail .blog-detail-innerr .share, #blog-detail .blog-detail-innerr .rate, #blog-detail .blog-detail-innerr .comment {
  box-shadow: 0 0 28px grey;
  border-radius: 20px;
}
#blog-detail .blog-detail-innerr .img {
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  float: left;
}
#blog-detail .blog-detail-innerr .img img {
  max-width: 100%;
  float: left;
  object-fit: cover;
}
#blog-detail .blog-detail-innerr .icon {
  padding: 5px 8px;
  margin: 0 10px;
  color: #6504b5;
  border: 2px solid #6504b5;
  border-radius: 50px;
  transition: all 0.5s;
}
#blog-detail .blog-detail-innerr .icon:hover {
  box-shadow: 0px 0px 28px #6504b5;
}
#blog-detail .blog-detail-innerr p {
  font-size: 22px;
}
#blog-detail .blog-detail-innerr .star {
  font-size: 22px;
  margin: 0 10px;
  color: #6504b5;
  cursor: pointer;
}
#blog-detail .blog-detail-innerr .comment input, #blog-detail .blog-detail-innerr .comment textarea {
  margin: 20px auto;
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  border: 1px solid #6504b5;
}
#blog-detail .blog-detail-innerr .comment input:focus, #blog-detail .blog-detail-innerr .comment textarea:focus {
  border: 1px solid #6504b5;
  outline-color: #6504b5;
  box-shadow: 0 0 18px #6504b5;
}
#blog-detail .blog-detail-innerr .comment button {
  border: 3px solid #6504b5;
  background-color: #6504b5;
  font-weight: 600;
  color: white;
  border-radius: 20px;
  transition: all 0.5s;
}
#blog-detail .blog-detail-innerr .comment button:hover {
  background-color: transparent;
  color: #6504b5;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}